:root {
	--color-light-cyan: hsl(193, 38%, 86%);
	--color-neon-green: hsl(150, 100%, 66%);
	--color-grayish-blue: hsl(217, 19%, 38%);
	--color-dark-grayish-blue: hsl(217, 19%, 24%);
	--color-dark-blue: hsl(218, 23%, 16%);
}


* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
body {
	background-color: var(--color-dark-blue);
	font-family: 'Manrope', sans-serif;
	position: relative;
	width: 100vw;
	height: 100vh;
}

.advice-box {
	position: absolute;
	transform: translate(-50%, -50%);
	top: 50%;
	left: 50%;
	width: 500px;
	height: auto;
	min-height: 300px;
	text-align: center;
}
@media screen and (max-width: 500px) {
	.advice-box {
		width: 100%;
		min-width: 330px;
		height: auto;
		max-height: 500px;
		padding: 0 20px;
	}
}

.advice-container {
	position: relative;
	width: 100%;
	height: 100%;
	padding: 40px;
	border-radius: 10px;
	background-color: var(--color-dark-grayish-blue);
	display: flex;
	flex-direction: column;
	gap: 20px;
	justify-content: space-around;
}
.advice-id {
	color: var(--color-neon-green);
	text-transform: uppercase;
	letter-spacing: 3px;
	font-size: 12px;
}
.advice-quote {
	color: var(--color-light-cyan);
	font-size: 28px;
}
.advice-divider img {
	width: 100%;
}
.advice-btn {
	width: 50px;
	height: 50px;
	border-radius: 50%;
	border: none;
	background-color: var(--color-neon-green);
	position: absolute;
	transform: translate(-50%, -50%);
	bottom: -50px;
	left: 50%;
	cursor: pointer;
}
.advice-btn:hover,
.advice-btn:active {
	box-shadow: 0 0 5px 3px var(--color-neon-green);
}
.attribution {
	font-size: 11px;
	text-align: center;
	position: absolute;
	transform: translate(-50%, -50%);
	bottom: 0;
	left: 50%;
	color: var(--color-light-cyan);
}

.attribution a {
	color: var(--color-neon-green);
	text-decoration: none;
}
.attribution a:hover,
.attribution a:active {
	color: rgb(55, 194, 124);
}